# Eclipse configuration cruft
.settings
.classpath
.project
.checkstyle

# Build artifacts
/target

# Ignore project build tools which are generated on each build;
# we keep Checkstyle and PMD so they can be picked up by Codacy
src/main/tools/travis
src/main/tools/eclipse

# Generated source code is excluded (for now)
src/main/generated
